<html>
<head>
    <title>Test Page</title>
</head>
<body>
<form th:action="@{/test/submit}" th:object="${userDto}" method="post">
    <input type="text" name="pseudo" placeholder="pseudo" th:value="*{pseudo}"/>
    <input type="text" name="mail" placeholder="mail" th:value="*{mail}"/>
    <input type="text" name="firstName" placeholder="firstName" th:value="*{firstName}"/>
    <input type="text" name="lastName" placeholder="lastName" th:value="*{lastName}" />
    <input type="text" name="phone" placeholder="phone" th:value="*{phone}"/>
    <input type="date" name="dob" th:value="*{dob}"/>
    <input type="submit" value="Submit"/>
</form>
</body>
</html>